@import url("https://fonts.signalwerk.ch/css/latest/family=Open+Sans:ital,wght@0,300..800;1,300..800.css");
@import url("https://fonts.signalwerk.ch/css/latest/family=IBM+Plex+Mono:ital,wght@0,400..700;1,400..700.css");
@import url("https://fonts.signalwerk.ch/css/latest/family=Noto+Emoji:wght@300..700.css");

:root {
  font-family: "Noto Emoji", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: #222;
  background-color: #ddd;
}

a {
  text-decoration: none;
  color: #0054a2;
}

a:hover {
  color: inherit;
}

::selection {
  background: #006984;
  text-shadow: none;
}

h1,
h2,
h3 {
  color: #444;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1,
h3,
th {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

h3,
th {
  font-size: 0.8rem;
}

.container,
.header {
  font-weight: 400;
  width: 92%;
  max-width: 25rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

table {
  width: 100%;
  font-size: 0.9em;
  border-collapse: collapse;

  margin-top: -0.2rem;
  margin-bottom: 0.3rem;
}
th:not([align]) {
  text-align: left;
}

tr {
  border-bottom: 1px solid #e6e8ea;
}
td,
th {
  vertical-align: top;
  padding-right: 1em;

  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
td:last-child,
th:last-child {
  padding-right: 0;
}

code {
  font-family: "IBM Plex Mono", monospace;
  white-space: pre;
  font-size: 90%;
  line-height: 1.2;
  margin: 0;
}

:not(pre) > code {
  background-color: #e6e8ea;
  font-size: 80%;
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
  margin: 0;
}

.example {
  background-color: #fff;
  border-radius: 0.2rem;
  padding: 1rem;
}

.example--svg {
  padding: 0;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}
